<ion-app>
    <ion-header translucent="true">
        
        <ion-toolbar color="primary">
            <ion-title size="large"> Profile </ion-title>
    
            <!-- Left Side Menu -->
            <ion-buttons slot="start">
                <ion-menu-button autoHide="false" menuId="first" contentId="main"></ion-menu-button>
            </ion-buttons>
    
            <!-- Right side Login And Search Options -->
    
            <ion-buttons slot="secondary">
                <ion-searchbar autocomplete="on" animated="true" [(ngModel)]="term" (ionChange)="searchChanged($event)"></ion-searchbar>
                <ion-button href="/login">
                    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-img></ion-img>
</ion-content>
    <ion-content>
    <ion-title>David Coromina Solà</ion-title>
    <ion-title>dcoromina8@boscdelacoma.cat</ion-title>
    </ion-content>
    </ion-app>